body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
}

h1{
    text-align:center;
    padding:20px;
}

#desktop{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
    gap:20px;
    padding:20px;
}

.icon{
    text-align:center;
    padding:15px;
    border-radius:12px;
    cursor:pointer;
    background:rgba(255,255,255,0.08);
    transition:0.3s;
}

.icon:hover{
    background:rgba(255,255,255,0.18);
}

#windowArea{
    margin:20px;
}

.window{
    background:white;
    color:black;
    border-radius:12px;
    padding:20px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
}
