body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}

h1{
    margin-bottom:20px;
}

button{
    padding:12px 24px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

#text{
    margin-top:20px;
    font-size:18px;
}
